$white: #fff;

@mixin nameMixin($param: 16px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $param;
}

@mixin forTablet() {
    @media (max-width:1024px) {
        @content;
    }
}

body {
    color: $white;
    @include nameMixin(24px);

    @include forTablet() {
        background-color: yellow;
    }
}

.card {
    img {
        height: 800px;
    }

    &__image {
        background-color: red;

        &--big {
            height: 800px;
        }
    }
}