/* html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid red;
    transition: backgroung-color 0.3s ease;
    transition-delay: 1s;
}

.block:hover {
    background-color: black;
    transition-delay: 0s;
}



.item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    transform-origin: center center;
}

.item.blue {
    border: 1px solid blue;
    transform: rotate(45deg);
    transform: translate(-50%, -50%)
}

.item.yellow {
    border: 5px solid yellow;
    transform: rotate(60deg);
    transform: skew(30deg);
}

.item.orange {
    border: 1px solid orange;
    transform: rotate(75deg);
    transform: scale(2);
}

.item.orange {
    animation-name: scaling;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 2s;
}

.item.orange:hover {
    animation-play-state: paused;
}

@keyframes scaling {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.5);
    }
} */

/* адаптив */

/* 1920px = desktop
1600px
1440px
1366px - small desktop
1024 - tablet
768 - small tablet
576 - 320 (375) - mobile */
/* h1 {
    font-size: 64px;
}

@media (max-width:1600px) {
    h1 {
        font-size: 48px;
    }
}

@media (min-width:1920px) and (min-height:800px) {
    h1 {
        font-size: 500px;
    }
} */

/* input:focus {
    outline-color: orange;
}

input::placeholder {
    color: red;
}

input:valid {
    outline-color: green;
}

input:invalid {
    outline-color: red;
} */

/* input:checked {
    outline: 1px solid orangered;
} */




/* Кастомный чекбокс */
/* .checkbox__wrapper {
    position: relative;
    padding-left: 32px;
}

.checkbox__wrapper:before,
.checkbox__wrapper:after {
    content: '';
    position: absolute;
}

.checkbox__wrapper:before {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    box-sizing: border-box;
    left: 0;
    top: 1px;
    border-radius: 4px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox input:checked+.checkbox__wrapper:before {
    background-color: green;
}

textarea {
    resize: none;
    resize: vertical;
    width: 100px;
    height: 50px;
} */
.slider {
    max-width: 800px;
    margin: 0 auto;
}

.item {
    height: 300px;
    border: 2px solid red;
    box-sizing: border-box;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;

}

/* отключение функции наведения на мобилках */
@media (any-hover:hover) {
    .btn:hover {
        opacity: 1;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    gap: 10px 24px;
    /* // также работает justify-content align-items */
}

.grid__item {
    height: 300px;
    border: 1px solid red;
    box-sizing: border-box;
}