/* html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid red;
    transition: backgroung-color 0.3s ease;
    transition-delay: 1s;
}

.block:hover {
    background-color: black;
    transition-delay: 0s;
}



.item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    transform-origin: center center;
}

.item.blue {
    border: 1px solid blue;
    transform: rotate(45deg);
    transform: translate(-50%, -50%)
}

.item.yellow {
    border: 5px solid yellow;
    transform: rotate(60deg);
    transform: skew(30deg);
}

.item.orange {
    border: 1px solid orange;
    transform: rotate(75deg);
    transform: scale(2);
}

.item.orange {
    animation-name: scaling;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 2s;
}

.item.orange:hover {
    animation-play-state: paused;
}

@keyframes scaling {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.5);
    }
} */

/* адаптив */

/* 1920px = desktop
1600px
1440px
1366px - small desktop
1024 - tablet
768 - small tablet
576 - 320 (375) - mobile */
h1 {
    font-size: 64px;
}

@media (max-width:1600px) {
    h1 {
        font-size: 48px;
    }
}

@media (min-width:1920px) and (min-height:800px) {
    h1 {
        font-size: 500px;
    }
}